REACT_APP_NETWORK_ETH=1

REACT_APP_IDOL_MAIN_ADDR=

REACT_APP_MINT_ADDR=

REACT_APP_TOKEN_ADDR=

REACT_APP_MARKETPLACE_ADDR=

REACT_APP_STETH_ADDR=

REACT_APP_VIRTUE_REWARDS=

REACT_APP_OFFERING_REFUND=

REACT_APP_VIRTUOUS_HOUR=

REACT_APP_MARKETPLACE_REFUND=

REACT_APP_MARKETPLACE_PROCEEDS=

REACT_APP_VIRTUE_REDEPLOY=

REACT_APP_VIRTUE_ETH_REWARDS=

REACT_APP_GOLDLIST=

REACT_APP_VIRTUE_ZAPPER=

REACT_APP_LIQUIDITY_POOL=

REACT_APP_GNOSIS_ADDR=

REACT_APP_GRAPH_URL=

REACT_APP_INFURA_ID=

REACT_APP_HYYPE_CLIENT_ID=